<div class="banner">
  <div class="container">
    <h1>Des chaussures pour toutes les pointures!</h1>
    <p>Trouve la chaussure qui changera ta vie</p>
    <a class="btn btn-primary" href="#card-product">En marche !</a>
  </div>
<div class="categories container">
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
    Breakfast
  </div>
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/lunch.jpg)">
    Lunch
  </div>
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/dinner.jpg)">
    Dinner
  </div>
</div>

</div>

<div class="container">
    <%= form_tag chaussures_path, method: :get do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Saisir une pointure"
      %>
      <%= submit_tag "Search", class: "btn btn-primary" %>
    <% end %>
</div>

<div class="cards container">
  <% @chaussures.each do |chaussure| %>
    <%= link_to(chaussure_path(chaussure)) do %>
    <div class="card-product">
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
      <div class="card-product-infos">
        <h2><%= chaussure.name %></h2>
        <p>Taille : <%= chaussure.size%></p>
      </div>
    </div>
    <% end %>
  <% end %>


</div>
